* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom right, darkblue, hotpink);
    color: white;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.intro {
    padding: 75px 20px;
}

.name {
    color: #ff33e0;
}

.contactbtn {
    font-size: 16px;
    padding: 10px 24px;
    margin-top: 20px;
    background-color: white;
    color: #4a3494;
    border-color: #4a3494;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.contactbtn:hover {
    background-color: #4a3494;
    color: white;
}

.skill-container {
    padding: 20px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
}

.skill-list li {
    margin: 6px 6px 6px 0;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #4a3494;
    border-radius: 4px;
    color: #4a3494;
}